/* media queries  */

@media screen and (max-width:991px){
    
    .nav-toggle div{
        width: 39px;
        height: 17px;
        margin: 21px;
        position: relative;
    }
    .nav-toggle span{
        background: #091238 ;
        width: 100%;
        height: 3px;
        
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: transform 0.5s, width 0.5s; 
    }
    .nav-toggle .line-1{
        transform: translate(-50%, -12px) ;
    }
    .nav-toggle .line-3{
        transform: translate(-50%, 10px) ;
    }
    .active #line-1{
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    .active #line-3{
        transform: translate(-50%, -50%) rotate(45deg);
    }
    .active #line-2{
       width: 0;
    }

    h3{
        font-size: 1.2rem;
        font-family: 'poppins', sans-serif;
        font-weight: bold;
          }
    
    .home{
        border-bottom: 3px solid rgb(36 8 78);
        color: rgb(255, 255, 255);
    }
    h1 {
        font-size: 2.5rem;
        
    }
    .text-white{
        color: white;
        border-bottom: 3px solid rgb(36 8 78);
    }
    
    .hover-link:hover{
        border-bottom: 0;
    }
    header{
        padding: 19px;
    }
    .header-section{
        gap: 0px;
        padding-bottom: 100px;
    }
    .nav-bar {
        position: absolute;
        
         padding-top: 16px;
         height: 100px; 
    }
    .nav-toggle{
        display: block;
        margin-right: 0px;
        color: rgb(0, 0, 0);
        margin-top: 5px;
        cursor: pointer;
    }
    .header-right img{
        width: 85%;
    }
    .header-left h1 {
        margin-top: -16px;
    }
    .main-nav{
        overflow: initial;
        align-items: normal!important;
        

    }
    .nav-links{
        position: absolute;
        /* background-color: white; */
        background: #2e5caf;
        left: -182%;
        top: 126%;
        width: 133% ;
        padding-block: 37px;
        transition: 0.5s ease-in-out;
        text-align: center;
        height: 70vh;
       
    }
    .nav-links.active{
        left: -90px;
    }
    .nav-links ul{
        flex-direction: column;
    }
    

    .examples-area{
        gap: 20px;
    }
    .examples-card{
        width: calc(50% - 10px);
        height: 500px;
    }

    .cta-section{
        padding-block: 80px ;
    }
    .examples-section {
        padding-top: 142px;
    }
}
    


 @media screen and (max-width: 767px){
    .company-logo img {
        width: 180px;
        height: 49px;
        padding: 8px 8px;
        margin-top: 9px;
        margin-left: -77px;
    }
    .header-right img {
        width: 100%;
        margin-left: 0px;
        margin-top: 11px;
    }
    .header-left h1 {
        margin-top: -20px;
        color: black;
    }
    .header-left p {
        
        color: black;
    }
    .feature-desc {
        /* padding-left: 36px; */
        padding: 0px 35px;
         margin-left: 0; 
         text-align: center;
    }
    .features-section {
        padding: 30px
    }
    .intern {
         margin-left: 0!important; 
        padding-right: 0!important; 
    }
    .intern-content {
         padding-left: 0!important; 
         margin-left: 8px!important; 
    }
    .primary-button{
        width: 100%;
    }
    .header-section{
        flex-direction: column-reverse;
        padding-top: 80px;
        margin-bottom: -31px;
    }
    .header-left{
        max-width: 100vw;
        text-align: center;
        padding-top: 62px;
    }
    .features-card{
        min-width: 60%;
        /* min-width: calc(50% - 10px); */
    }
    .big-feature-container, #second-big-feature{
        flex-direction: column;
        padding: 0;
        margin: 0;

    }
    .big-feature-container {
        gap: 85px;
    }

    .dreams-p{
       text-align: center;
    }
    .feature-img img {
        width: 128%;
        /* padding-right: 45px; */
    }
    .footer-container{
        flex-direction: column;
        gap: 40px;
        text-align: center;
        align-items: center;

    }
    .link-column{
        align-items: stretch;
    }
    .examples-card {
        width: calc(50% - 10px);
        height: 423px;
    }
    .quote {
        font-size: 1.8rem;}

    
}

@media screen and (max-width: 479px){
    :root{
        --padding-inline-section: 10px;
    }
    h1{
        font-size: 2.3rem;
    }
    h2{
        font-size:1.4rem; 
    }
  
    p {
        font-size: 1rem;
        margin-top: 20px;
    }
    .features-card{
        min-width: 100%;
        height: 505px;
        padding: 28px 20px;
        margin-bottom: 25px;
    }
    .examples-card{
        width: 100%;
    }
    .primary-button {
        width: 50%;
        padding: 13px 0px;
        font-weight: 500;
    }
    .examples-area {
        gap: 55px;
        padding: 10px 16px;
    }
    .intern-img{
        width: 99%!important;
    }
    .card-text {
      
        bottom: 32px;
    }
    .intern-img{
    padding: 46px 70px;
    }
    .cta-section {
        padding-block: 70px;
        height: 340px;
    }
    .subfooter-container {
        gap: 10px;
    }
    .cta-section-container p {
        text-align: center;
    }


} 